## 1. Preparando el problema

### Cargando datos
Cargamos el conjunto de datos y mostramos los 20 primeros elementos

In [83]:
from itertools import product

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

from sklearn import datasets
from sklearn.model_selection import train_test_split

#Importamos modelos:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold
from sklearn import metrics
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier



datos_original = pd.read_csv('german_data_original.csv')

datos_numericos = datos_original[['Duration of Credit (month)','Credit Amount','Instalment per cent','Duration in Current address','Age (years)','No of Credits at this Bank','No of dependents','Creditability']]
datos_numericos.head()

,Duration of Credit (month),Credit Amount,Instalment per cent,Duration in Current address,Age (years),No of Credits at this Bank,No of dependents,Creditability
0,6,1169,4,4,67,2,1,1
1,48,5951,2,2,22,1,1,2
2,12,2096,2,3,49,1,2,1
3,42,7882,2,4,45,1,2,1
4,24,4870,3,4,53,2,2,2

In [84]:
data_categorica = datos_original[['Account Balance','Payment Status of Previous Credit','Purpose','Value Savings/Stocks','Length of current employment','Sex & Marital Status','Guarantors','Most valuable available asset','Concurrent Credits','Type of apartment','Occupation','Telephone','Foreign Worker']]
data_categorica.head()
#data_sample2 = pd.get_dummies(datos_original['Account Balance'])
#data_sample2.head()

,Account Balance,Payment Status of Previous Credit,Purpose,Value Savings/Stocks,Length of current employment,Sex & Marital Status,Guarantors,Most valuable available asset,Concurrent Credits,Type of apartment,Occupation,Telephone,Foreign Worker
0,A11,A34,A43,A65,A75,A93,A101,A121,A143,A152,A173,A192,A201
1,A12,A32,A43,A61,A73,A92,A101,A121,A143,A152,A173,A191,A201
2,A14,A34,A46,A61,A74,A93,A101,A121,A143,A152,A172,A191,A201
3,A11,A32,A42,A61,A74,A93,A103,A122,A143,A153,A173,A191,A201
4,A11,A33,A40,A61,A73,A93,A101,A124,A143,A153,A173,A191,A201

In [85]:
data_categorica = pd.get_dummies(data_categorica)
data_categorica.head()

,Account Balance_A11,Account Balance_A12,Account Balance_A13,Account Balance_A14,Payment Status of Previous Credit_A30,Payment Status of Previous Credit_A31,Payment Status of Previous Credit_A32,Payment Status of Previous Credit_A33,Payment Status of Previous Credit_A34,Purpose_A40,...,Type of apartment_A152,Type of apartment_A153,Occupation_A171,Occupation_A172,Occupation_A173,Occupation_A174,Telephone_A191,Telephone_A192,Foreign Worker_A201,Foreign Worker_A202
0,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,1,1,0
1,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,1,0
2,0,0,0,1,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,1,0
3,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,1,0
4,1,0,0,0,0,0,0,1,0,1,...,0,1,0,0,1,0,1,0,1,0

In [86]:
data_final = data_categorica.join(datos_numericos)
data_final.head()

,Account Balance_A11,Account Balance_A12,Account Balance_A13,Account Balance_A14,Payment Status of Previous Credit_A30,Payment Status of Previous Credit_A31,Payment Status of Previous Credit_A32,Payment Status of Previous Credit_A33,Payment Status of Previous Credit_A34,Purpose_A40,...,Foreign Worker_A201,Foreign Worker_A202,Duration of Credit (month),Credit Amount,Instalment per cent,Duration in Current address,Age (years),No of Credits at this Bank,No of dependents,Creditability
0,1,0,0,0,0,0,0,0,1,0,...,1,0,6,1169,4,4,67,2,1,1
1,0,1,0,0,0,0,1,0,0,0,...,1,0,48,5951,2,2,22,1,1,2
2,0,0,0,1,0,0,0,0,1,0,...,1,0,12,2096,2,3,49,1,2,1
3,1,0,0,0,0,0,1,0,0,0,...,1,0,42,7882,2,4,45,1,2,1
4,1,0,0,0,0,0,0,1,0,1,...,1,0,24,4870,3,4,53,2,2,2

## Aplicamos undersampling y oversampling

In [87]:
#OVERSAMPLING
num_cred_aprobado = data_final['Creditability'].value_counts()[1]
num_cred_denegado = data_final['Creditability'].value_counts()[2]

#Muestras faltantes, count 400
num_muestras = num_cred_aprobado - num_cred_denegado 

#Guardamos en denegados la data con Creditability=0, count 300 
denegados = data_final[data_final['Creditability'] == 2] 
aprobados = data_final[data_final['Creditability'] == 1] 

muestra_aprobados = aprobados.sample(n=500, random_state=0,replace='false') 

#Guardamos una muestra de con datos duplicacdos de denegados para completar el faltante
#replace= false (el numero de datos duplicados no debe ser mayor al de la poblacion total)
muestra_denegados = denegados.sample(n=200, random_state=0,replace='false') 

data_sample_final = muestra_aprobados #500
data_sample_final = data_sample_final.append(denegados) #300
data_sample_final = data_sample_final.append(muestra_denegados) #200
#Verificamos la distribución de la clase
data_sample_final['Creditability'].value_counts()

2    500
1    500
Name: Creditability, dtype: int64

In [88]:
data_sample_final.head()

,Account Balance_A11,Account Balance_A12,Account Balance_A13,Account Balance_A14,Payment Status of Previous Credit_A30,Payment Status of Previous Credit_A31,Payment Status of Previous Credit_A32,Payment Status of Previous Credit_A33,Payment Status of Previous Credit_A34,Purpose_A40,...,Foreign Worker_A201,Foreign Worker_A202,Duration of Credit (month),Credit Amount,Instalment per cent,Duration in Current address,Age (years),No of Credits at this Bank,No of dependents,Creditability
982,0,0,1,0,0,0,1,0,0,1,...,1,0,21,2923,1,1,28,1,1,1
798,0,0,0,1,0,0,0,1,0,1,...,1,0,24,717,4,4,54,2,1,1
896,1,0,0,0,0,0,1,0,0,0,...,1,0,21,2606,4,4,28,1,1,1
264,0,0,0,1,0,0,0,0,1,1,...,0,1,10,1231,3,4,32,2,2,1
493,0,1,0,0,0,0,1,0,0,0,...,1,0,6,368,4,4,38,1,1,1

###  Dividimos la data en test y entrenamiento

In [89]:
X_train_val_final = data_sample_final.drop('Creditability', axis=1)
y_train_val_final = data_sample_final['Creditability']


X_train_final, X_test_final, y_train_final, y_test_final = train_test_split(X_train_val_final, y_train_val_final, test_size=0.25, random_state=0)
y_train_final.value_counts()

1    379
2    371
Name: Creditability, dtype: int64

### Aplicamos el modelo

In [90]:
from sklearn.metrics import classification_report,confusion_matrix

In [91]:
svc = SVC()
svc.fit(X_train_final, y_train_final)
predictions = svc.predict(X_test_final)

matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_svc=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   81 |   48   |
| real  +-----+--------+--------+
|       |  -  |   6  |   115  |
+-------+-----+--------+--------+

Exactitud    :  0.784

In [92]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train_final, y_train_final)
predictions = knn.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_knn=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   87 |   42   |
| real  +-----+--------+--------+
|       |  -  |   36  |   85  |
+-------+-----+--------+--------+

Exactitud    :  0.688

In [93]:
logreg = LogisticRegression()
logreg.fit(X_train_final, y_train_final)
predictions = logreg.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_logreg=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   90 |   39   |
| real  +-----+--------+--------+
|       |  -  |   34  |   87  |
+-------+-----+--------+--------+

Exactitud    :  0.708

In [94]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train_final, y_train_final)
predictions = gaussian.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_gausNB=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   83 |   46   |
| real  +-----+--------+--------+
|       |  -  |   34  |   87  |
+-------+-----+--------+--------+

Exactitud    :  0.68

In [95]:
linear_svc = LinearSVC()
linear_svc.fit(X_train_final, y_train_final)
predictions = linear_svc.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_linearsvc=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   127 |   2   |
| real  +-----+--------+--------+
|       |  -  |   104  |   17  |
+-------+-----+--------+--------+

Exactitud    :  0.576

In [96]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train_final, y_train_final)
predictions = decision_tree.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_dt=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   110 |   19   |
| real  +-----+--------+--------+
|       |  -  |   19  |   102  |
+-------+-----+--------+--------+

Exactitud    :  0.848

In [97]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train_final, y_train_final)
predictions = random_forest.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_RF=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   110 |   19   |
| real  +-----+--------+--------+
|       |  -  |   17  |   104  |
+-------+-----+--------+--------+

Exactitud    :  0.856

In [98]:
# Gradient boosting
from sklearn.ensemble import GradientBoostingClassifier
gradient_boosting = GradientBoostingClassifier(n_estimators=100)
gradient_boosting.fit(X_train_final, y_train_final)
predictions = gradient_boosting.predict(X_test_final)
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_GBoost=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   108 |   21   |
| real  +-----+--------+--------+
|       |  -  |   21  |   100  |
+-------+-----+--------+--------+

Exactitud    :  0.832

## Redes Neuronales

In [99]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(20,20,20))

In [100]:
mlp.fit(X_train_final,y_train_final)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', 
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 30, 30), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 30, 30), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [101]:
predictions = mlp.predict(X_test_final)

In [102]:
matriz_confusion = metrics.confusion_matrix(y_test_final, predictions)
TN = matriz_confusion[0,0]
FN = matriz_confusion[1,0]
FP = matriz_confusion[0,1]
TP = matriz_confusion[1,1]
exactitud_nn=(TP+TN)/(TP+FN+FP+TN)

print ('              +-----------------+')
print ('              |   Predicción    |')
print ('              +-----------------+')
print ('              |    +   |    -   |')
print ('+-------+-----+--------+--------+')
print ('| Valor |  +  |   %d |   %d   |'   % (TP, FN) )
print ('| real  +-----+--------+--------+')
print ('|       |  -  |   %d  |   %d  |'    % (FP, TN) )
print ('+-------+-----+--------+--------+')
print ()
print ( 'Exactitud    : ', (TP+TN)/(TP+FN+FP+TN) )

              +-----------------+
              |   Predicción    |
              +-----------------+
              |    +   |    -   |
+-------+-----+--------+--------+
| Valor |  +  |   85 |   44   |
| real  +-----+--------+--------+
|       |  -  |   73  |   48  |
+-------+-----+--------+--------+

Exactitud    :  0.532

In [103]:
models = pd.DataFrame({
    'Model': ['Redes Neuronales','Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 
              'Linear SVC', 
              'Decision Tree','GradientBoosting'],
    'Score': [exactitud_nn,exactitud_svc, exactitud_knn, exactitud_logreg, 
              exactitud_RF, exactitud_gausNB,
              exactitud_linearsvc, exactitud_dt,exactitud_GBoost]})
models.sort_values(by='Score', ascending=False)

                     Model  Score
4            Random Forest  0.856
7            Decision Tree  0.848
8         GradientBoosting  0.832
1  Support Vector Machines  0.784
3      Logistic Regression  0.708
2                      KNN  0.688
5              Naive Bayes  0.680
6               Linear SVC  0.576
0         Redes Neuronales  0.532